html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    background-color: dimgrey;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.col-4{
    background-color: rgb(238, 234, 234);
    padding: 20px;
    float: left;
    border-radius: 6px;
}

.btn-outline-secondary{
    background-color: steelblue;
    color: white;
}
.container-fluid{
 
}

.col-8{
    float: right;
}

.mb-3{
    width: 90%;
}

.card{
    margin-bottom: 25px;
}

ul{
    padding-left: 0;
}

.user-city{
    margin-bottom: 30px;
}

li{
    display: inline;
}

.hide{
    display: none;
}